.block{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 15px;
    width: 470px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: #ff0000;
}

.some {
    background: lightgreen;
}

.some-text {
    color: #5e51ad;
}