
.checkbox {
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: #e38916;
    float: left;
    border-radius: 30px ;
    cursor: pointer;
}
.checkbox:checked {
    appearance: none;
    display: block;
    background: url(https://masterkosta.com/.s/img/fr/ic/11/f_norm_new.gif);
    width: 17px;
    height: 17px;
    float: left;
}
.spanClassName {

}